@import "../../components/shared/variables.scss";

html, body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
}

input, button {
  font-size: 16px;
  outline: none;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $light-grey;
  padding: $padding-size;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
input[type="submit"], button, button:active, button:visited {
  border: none;
  padding: $padding-size+1px $padding-size;
  cursor: pointer;
  background: $primary-color;
  color: white;
  margin: 0;

  &:hover {
    background: lighten($primary-color, 10%);
  }
}
