@import "../shared/variables.scss";

$buble-color: #41d297;
$buble-color-mine: #89cad2;

html, body, #app, .container, .chat-room-screen {
  height: 100%;
}

.chat-room-screen {
  background: #fbfbfb;
  display: flex;

  .online-users-container {
    width: 200px;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .online-users {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .online-users--user {
        background: white;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border: 1px solid $light-grey;
        border-radius: 3px;
        padding: 5px;
        width: 100%;

        .online-circle {
          width: 10px;
          height: 10px;
          display: inline-block;
          background: #80c539;
          border-radius: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .messages-container {
    background: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 10px;
    border: 1px solid $light-grey;
    overflow: auto;

    .messages {
      padding-top: 10px;
    }
  }
  .chat-input-form {
    margin: 0 10px 10px 10px;
    input[type="text"] {
      width: 50%;
    }
    button {
      min-width: 10%;
    }
  }

  .message--user-name {
    z-index: 3;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
  }

  .message {
    display: flex;
    margin: 0 10px 10px 10px;
    align-items: baseline;
    flex-direction: column;

    .message-inner-container {
      display: flex;
      align-items: baseline;
    }

    .message--content {
      border-radius: 5px;
      position: relative;
      background: $buble-color;
      color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;

      .upper-container {
        display: flex;
        border-bottom: 1px solid #68e6b3;
        font-size: 12px;
        margin-bottom: 20px;
        padding-bottom: 5px;

        .full-user-name {
          margin-right: 20px;
        }
      }

      &:before {
        content: "";
        background: white;
        position: absolute;
        width: 20px;
        height: 20px;
        left: -20px;
        top: 3px;
        border-radius: 50% 0px;
        z-index: 2;
      }
      &:after {
        content: "";
        background: $buble-color;
        width:20px;
        height:20px;
        position: absolute;
        left: -10px;
        top: 10px;
        border-radius: 50%;
      }
    }

    &.mine {
      align-items: flex-end;

      .message-inner-container {
        flex-direction: row-reverse;

        .message--user-name {
          margin: 0 0 0 10px;
        }

        .message--content {
          background: $buble-color-mine;

          &:before {
            left: auto;
            right: -20px;
            border-radius: 0 50%;
          }
          &:after {
            left: auto;
            right: -10px;
            background: $buble-color-mine;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .online-users-container {
    display: none !important;
  }
  .message-inner-container {
    width: 100%;

    .message--content {
      flex: 1;
    }
  }
}
